textarea { width:98%;}

        /*layout*/
        
        .header
        {
            width: 600px;
            overflow: hidden;
            margin: 0 auto;
        }
        
        .main
        {
            width: 600px;
            overflow: hidden;
            margin: 0 auto;
            clear: both;
        }
        .main_left
        {
            width: 350px;
            position: relative;
            overflow: hidden;
            z-index: 1;
            float: left;
        }
        .main_right
        {
            margin-left: 5px;
            width: 240px;
            float: right;
            clear:right;
            overflow: auto;
        }