
@{
    ViewBag.Title = "销售报价单明細";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
    <script src="~/Areas/Mms/ViewModels/mms.SaleQuote.js"></script>
  @*  <script src="~/Content/js/jquery-extend/jquery.cookie.js"></script>*@

<script type="text/javascript">
    using(["numberspinner"], easyuifix.datagrid_editor_extend); 
    using(['datagrid','messager','validatebox','numberbox','combobox']);
    var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    var formatUnitAttr = utils.fnValueToText(data.dataSource.UnitList);
    var formatTaxRate = utils.fnValueToText(data.dataSource.TaxRateList);
    //var viewModel = function(data){ 
    //    var self = this;
    //    mms.ARInvoice.apply(self,arguments);
    //    //this.grid0.OnAfterCreateEditor = mms.com.bindCalc1From2(self.pageData,self.grid0, "Cost", "PreInvoiceNoTax", "PreInvoiceTax", ['ReceiveCost','PreInvoiceNoTax',"PreInvoiceTax"]);
              

    //} 

    var viewModel=mms.SaleQuote.Edit;
    ko.bindingViewModel(new viewModel(data));
    
</script>
}

<div class="z-toolbar">
    <a id="a_refresh" href="#" plain="true" class="easyui-linkbutton"  icon="icon-arrow_refresh"   title="刷新" data-bind="click:canShow('icon-arrow_refresh')?null:refreshClick,linkbuttonDisable:canShow('icon-arrow_refresh')">刷新</a>
    <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="click:canShow('icon-save')?null:saveClick,linkbuttonDisable:canShow('icon-save')" title="保存">保存</a>
    <a id="a_creat" href="#" plain="true"  class="easyui-linkbutton"  icon="icon-feed_edit" data-bind="click:canShow('icon-feed_edit')?null:CreatSaleQuoteClick,linkbuttonDisable:canShow('icon-feed_edit')">生成报价单</a>
    <a id="a_creat1" href="#" plain="true"  class="easyui-linkbutton"  icon="icon-upload" data-bind="click:canShow('icon-upload')?null:SaleQuoteFileClick,linkbuttonDisable:canShow('icon-upload')">上传附件</a>

    <div class="datagrid-btn-separator"></div>
    <a id="a_first" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_first" data-bind="click:firstEnable()?firstClick:null,linkbuttonEnable:firstEnable" title="第一条"></a> 
    <a id="a_previous" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_previous" data-bind="click:previousEnable()?previousClick:null,linkbuttonEnable:previousEnable" title="上一条"></a> 
    <a id="a_next" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_next" data-bind="click:nextEnable()?nextClick:null,linkbuttonEnable:nextEnable" title="下一条"></a> 
    <a id="a_last" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_last" data-bind="click:lastEnable()?lastClick:null,linkbuttonEnable:lastEnable" title="最后一条"></a> 

</div>

<div id="master" class="container_12" >
    <div style="display:none;"><label data-bind="text:pageData.form.QuoteID" /></div>
    <table style="width:750px;margin-left:5px">
        <tr>
            <td>报价单号</td><td><input type="text" data-bind="value:pageData.form.QuoteNo,readOnly:true" title="系统自动生成" class="z-txt "  style="width:90px" /></td>
            <td>报价日期</td><td><input type="text" data-bind="dateboxValue:pageData.form.QuoteDate ,readOnly:true" class="z-txt easyui-datebox" /></td>      
            <td style="width:58px">客户代码</td><td style="width:130px"><input type="text" data-bind="value:pageData.form.CustCode ,readOnly:true" class="z-txt" style="width:60px" />
                <a id="a_find" href="#" plain="true" class="easyui-linkbutton" icon="icon-zoom" data-bind="click:searchCustomerClick" title="查询客户"></a> 
                          </td>
            <td>客户简称</td><td><input type="text" data-bind="value:pageData.form.CustAbbr ,readOnly:true" class="z-txt "  style="width:100px" /></td>      
        </tr>
        <tr>
            <td>联系人</td><td><input type="text" id="txtContact" data-bind="value:pageData.form.Contact ,readOnly:true" class="z-txt "  style="width:90px" /></td>            
            <td>Tel</td><td colspan="3" style="width:190px"><input type="text"  id="txtTel" data-bind="value:pageData.form.Tel ,readOnly:true" class="z-txt"  style="width:300px" /></td>
            
            <td>报价币别</td><td><input type="text" data-bind="datasource:dataSource.CNCYList,comboboxValue:pageData.form.Currency" class="z-txt easyui-combobox "  data-options="showblank:true" style="width:108px"/></td>
            
        </tr>

        <tr>
            @*<td>是否确认</td><td><input type="text" data-bind="datasource:dataSource.CFMFlagList,comboboxValue:pageData.form.CFMFlag" class="z-txt easyui-combobox "  data-options="showblank:true" style="width:50px"/></td>*@
            <td>报价状态</td><td><input type="text" data-bind="datasource:dataSource.QuoteStatusList,comboboxValue:pageData.form.QuoteStatus,readOnly:true" class="z-txt easyui-combobox "  style="width:97px" /></td>            
            <td style="width:58px">录入人</td><td ><input type="text" data-bind="value:pageData.form.InputBy,readOnly:true" class="z-txt" style="width:50px;"/>
                <input type="text" data-bind="value:pageData.form.InputDT,readOnly:true" class="z-txt" style="width:60px;color:blue;"/></td>
            <td></td><td></td>
            <td>Remarks</td><td><input type="text" data-bind="value:pageData.form.Remarks" class="z-txt"   style="width:100px" /></td>
            @*QuoteID,QuoteNo,QuoteDate,IncoTerms,CustCode,Contact,Tel,Currency,Remarks,QuoteStatus,PriceType,InputBy,InputDT,CFMFlag*@
        </tr>      
    </table>    
</div>

    <div title="tab1" style="height:370px;width:auto;overflow:hidden;">
        <div id="gridtb">
            <a href="#" class="easyui-linkbutton" plain="true" icon="icon-add" data-bind="click:canShow('icon-add')?null:addRowClick,linkbuttonDisable:canShow('icon-add')">新增</a>
            @*<a href="#" class="easyui-linkbutton" plain="true" icon="icon-edit" data-bind="click:canShow('icon-edit')?null:grid0.onClickRow,linkbuttonDisable:canShow('icon-edit')">编辑</a>*@
            <a href="#" class="easyui-linkbutton" plain="true" icon="icon-cross" data-bind="click:canShow('icon-cross')?null:removeRowClick,linkbuttonDisable:canShow('icon-cross')">删除</a>
        </div>  

       <table id="gridlist" data-bind="datagrid:grid" style="height:340px;width:auto;overflow-x:scroll;">
            <thead>
                <tr> 
                    <th field="SNO" hidden="true" ></th>
                    <th field="QuoteID" hidden="true" editor="text" ></th>
                    <th field="CustPN"		sortable="true"	align="left" width="150" editor="{type:'validatebox',options:{required:true}}" >客户料号</th>
                    <th field="SuppPN"		sortable="true"	align="left" width="150" editor="{type:'validatebox',options:{required:true}}" >制造商料号</th>
                    <th field="CDesc"		sortable="true"	align="left" width="100" editor="{type:'validatebox',options:{required:true}}" >品名</th>
                    <th field="CSpec"		sortable="true"	align="left" width="200" editor="text" >规格</th>                
                    <th field="Brand"		sortable="true"	align="left"	width="100" editor="text" >Brand</th>   
                    <th field="Qty"		sortable="true"	align="right" formatter="com.formatMoney2" width="80"  editor="{type:'numberbox',options:{precision:2,min:1}}" >报价数量</th>
                    <th field="ReplyPrice"		sortable="true"	align="right" formatter="com.formatMoney" editor="{type:'numberbox',options:{precision:4,min:0}}"	width="60" >不含税价</th> 
                    <th field="ReplyPriceT"		sortable="true"	align="right" formatter="com.formatMoney" editor="{type:'numberbox',options:{precision:4,min:0}}"	width="60" >含税价</th> 
                    <th field="Unit"		sortable="true"	align="left" width="60" formatter="formatUnitAttr" editor="{type:'combobox',options:{data:data.dataSource.UnitList}}" >SPQ单位</th>
                    <th field="TaxRate"		sortable="true"	align="left" width="60"  formatter="formatTaxRate" editor="{type:'combobox',options:{data:data.dataSource.TaxRateList}}" >税率</th>
                    <th field="MOQ"		sortable="true"	align="right" formatter="com.formatMoney2" width="60"  editor="{type:'numberbox',options:{precision:0,min:1}}" >MOQ</th>
                    <th field="SPQ"		sortable="true"	align="right" formatter="com.formatMoney2" width="60"  editor="{type:'numberbox',options:{precision:0,min:1}}" >SPQ</th>
                    <th field="LeadTime"		sortable="true"	align="right" width="60"  editor="text" >LeadTime</th>
                    <th field="Remarks"		sortable="true"	align="right" width="60"  editor="text" >Remarks</th>
                    <th field="Amount"	 hidden="true" 	sortable="true"	align="right"	width="120" formatter="com.formatMoney2" >金額</th>
                </tr>
               @*QuoteID,CustPN,CSpec,CDesc,Brand,ReplyPrice,Qty,Unit,Amount,VATFlag,SPQ,MOQ,LeadTime,Remarks  *@
            </thead>
        </table>      

    </div>
