@{
    ViewBag.Title = "AR Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{    
    <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
    <script src="~/Areas/Mms/ViewModels/mms.ARList.js"></script>
    <script type="text/javascript">
        using(['validatebox','combobox','numberspinner','datebox']);

        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        var formatPartAttr = utils.fnValueToText(data.dataSource.SupplierCodeList);
        var viewModel = mms.Detail;
        ko.bindingViewModel(new viewModel(data));        
    </script>
}

<div class="z-toolbar">
    <a href="#" plain="true" class="easyui-linkbutton" icon="icon-arrow_refresh" title="刷新" data-bind="click:canShow('icon-arrow_refresh')?null:refreshClick,linkbuttonDisable:canShow('icon-arrow_refresh')">刷新</a>
    <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-add"             title="新增" data-bind="click:canShow('icon-add')?null:addClick,linkbuttonDisable:canShow('icon-add')">新增</a>
    <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-edit"            title="编辑" data-bind="click:canShow('icon-edit')?null:editClick,linkbuttonDisable:canShow('icon-edit')"  >编辑</a>
    <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-cross"           title="删除" data-bind="click:canShow('icon-cross')?null:deleteClick,linkbuttonDisable:canShow('icon-cross')" >删除</a>
    <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-save"            title="保存" data-bind="click:canShow('icon-save')?null:saveClick,linkbuttonDisable:canShow('icon-save')"   >保存</a>
</div>

 <table data-bind="datagrid:grid" style="width:780px;height:480px" >
        <thead>
            <th field="SNO"   hidden="true">SNO</th>
            <th field="ARID"  editor="text" hidden="true">ARID</th>
            <th field="RcvDate"    sortable="true" align="left" width="100" editor="{type:'datebox'}" formatter="com.formatDate">收款日期</th>  
            <th field="RcvNo"    sortable="true" align="left"    width="100" editor="{type:'validatebox',options:{required:true}}">票據號碼</th>            
            <th field="CostItem"		sortable="true"	align="center"	width="80"  editor="{type:'validatebox',options:{required:true}}">收款項目</th>        
            <th field="Amount"		sortable="true"	align="center" formatter="com.formatMoney2" width="60"  editor="{type:'numberbox',options:{precision:2,required:true}}">金額</th>             
            <th field="Remarks"		sortable="true"	align="center"	width="80"  editor="text">備註</th>        
            <th field="CreateDate"		sortable="true"	align="center"	width="80" formatter="com.formatDate">CreateDate</th>  
           @*SNO,ARID,RcvNo,RcvDate,CostItem,Amount,Remarks,CreateDate*@
        </thead>
    </table>