@{
    ViewBag.Title = "供应商明細";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{

<script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
<script src="~/Areas/Mms/ViewModels/mms.supplierEdit.js"></script>
    <script type="text/javascript">

        using(['messager','combobox']);
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); 
        var formatPartNoAttr = utils.fnValueToText(data.dataSource.SuppPNList0);
        var viewModel = mms.supplierEdit;             
        ko.bindingViewModel(new viewModel(data));   

    </script>
}

<div class="z-toolbar">
    <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="click:canShow('icon-save')?null:saveClick,linkbuttonDisable:canShow('icon-save')" title="保存">保存</a>
    <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-arrow_refresh"   title="刷新" data-bind="click:canShow('icon-arrow_refresh')?null:refreshClick,linkbuttonDisable:canShow('icon-arrow_refresh')">刷新</a>
    <div class="datagrid-btn-separator"></div>
    <a id="a_first" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_first" data-bind="click:firstEnable()?firstClick:null,linkbuttonEnable:firstEnable" title="第一条"></a> 
    <a id="a_previous" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_previous" data-bind="click:previousEnable()?previousClick:null,linkbuttonEnable:previousEnable" title="上一条"></a> 
    <a id="a_next" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_next" data-bind="click:nextEnable()?nextClick:null,linkbuttonEnable:nextEnable" title="下一条"></a> 
    <a id="a_last" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_last" data-bind="click:lastEnable()?lastClick:null,linkbuttonEnable:lastEnable" title="最后一条"></a> 

    <div class="datagrid-btn-separator"></div>
    <div class="grid_12" style="padding-left:200px;font-size:medium;color:blue">供应商明細資料(<label data-bind="text:pageData.form.SuppCode"></label>)</div>
</div>

<div id="master" class="container_12" style="width:auto;padding-left:0px;padding-top:0px;padding-bottom:10px;background-color:#E0ECFF;" title="供应商明細資料">
    
    <div class="clear"><label id="txtSuppID" hidden="hidden" data-bind="text:pageData.form.SuppID"></label></div>
    <div class="grid_12 val" style="width:auto;padding-left:0px;padding-top:10px;padding-bottom:10px;">
        <table >
        <tr>
            <td style="width:100px">供应商编码</td><td><input type="text" data-bind="value:pageData.form.SuppCode,readOnly:true" title="系统自动生成,不可修改" class="easyui-textbox" /> </td>
            <td  style="width:50px;padding-left:5px">简称</td><td><input type="text" data-bind="value:pageData.form.SuppAbbr" class="z-txt" style="width:198px;"  /></td>
            <td>联系人</td><td><input type="text" data-bind="value:pageData.form.Contact" class="easyui-textbox" /></td>
            <td style="width:50px;padding-left:5px">Tel</td><td><input type="text" data-bind="value:pageData.form.Tel" class="easyui-textbox" style="width:219px;" /></td>
        
        </tr>       
        <tr>
            <td >供应商全稱</td><td colspan="3"><input type="text" id="txtFullName" data-bind="value:pageData.form.SuppName" class="easyui-textbox" style="width:430px;"/></td>
            <td>手机</td><td><input type="text" data-bind="value:pageData.form.CellNo" class="easyui-textbox"  /></td>
            <td style="width:50px;padding-left:5px">Email</td><td><input id="txtLegalType" type="text" data-bind="value:pageData.form.Email"  class="easyui-textbox" style="width:219px;"  /></td>
        </tr>
        <tr>
            <td >公司地址</td><td colspan="3"><textarea  data-bind="value:pageData.form.SuppAdd" class="easyui-textbox" style="width:428px;height:30px"></textarea></td>
            <td >银行名称</td><td colspan="3"><textarea id="txtBankName" data-bind="value:pageData.form.BankName" class="easyui-textbox" style="width:430px;"></textarea></td>       
        </tr>      
        <tr> <td>SWIFICode</td><td><input type="text" data-bind="value:pageData.form.SWIFICode" class="easyui-textbox" id="txtCostCode"  /></td>
            <td style="width:50px;padding-left:5px">开户名</td><td><input type="text" data-bind="value:pageData.form.AccountName" class="z-txt" style="width:198px;"  /></td>       
            <td >银行账号</td><td><input type="text" data-bind="value:pageData.form.AccountNo" class="easyui-textbox" /></td>
            <td style="width:50px;padding-left:5px">币别</td><td><input id="txtPayTerm" type="text" data-bind="value:pageData.form.Currency"  class="z-txt"  style="width:55px;"  />
                结算方式<input type="text" id="txtPayTerms" data-bind="value:pageData.form.PayTerms" class="easyui-textbox" style="width:100px;"/></td>
        </tr>   
       

        @*CustID,CustAbbr,CustCode,CustName,CustAdd,Contact,Tel,CellNo,Email,SWIFICode,AccountName,AccountNo,Currency,PayTerms,BankName*@       
    </table>  
   </div>

    <div class="clear"></div>
    <div title="tab1 料号明细" class="easyui-panel" iconCls="icon-list" collapsible="true"  style="height:370px">
        <div id="gridtb0">
            <a href="#" class="easyui-linkbutton" plain="true" icon="icon-add" data-bind="click:canShow('icon-add')?null:grid0.addRowClick,linkbuttonDisable:canShow('icon-add')">新增</a>
            <a href="#" class="easyui-linkbutton" plain="true" icon="icon-edit" data-bind="click:canShow('icon-edit')?null:grid0.onClickRow,linkbuttonDisable:canShow('icon-edit')">编辑</a>
            <a href="#" class="easyui-linkbutton" plain="true" icon="icon-cross" data-bind="click:canShow('icon-cross')?null:grid0.removeRowClick,linkbuttonDisable:canShow('icon-cross')">删除</a>
        </div>  

        <table id="gridlist" data-bind="datagrid:grid0" style="height:340px">
            <thead>
                <tr> 
                    <th field="AutoID"  hidden="true">AutoID</th>
                    <th field="SupplierCode" editor="text" >供应商代码</th>
                    <th field="SuppAbbr" editor="text" >供应商简称</th>
                    <th field="PNID" sortable="true" align="left" width="250" formatter="formatPartNoAttr"  editor="{type:'combobox',options:{data:data.dataSource.SuppPNList0,required: true,onSelect:updatePNInfo}}">制造商料号</th>
                   
                    <th field="CDesc" sortable="true"	align="left" editor="text"	width="100" >品名</th>                   
                    <th field="CSpec" sortable="true"	align="left" editor="text"	width="300" >规格</th>                                       
                    <th field="Brand" sortable="true"	align="left" editor="text"	width="80" >品牌</th>                                     
                    <th field="TypeName" sortable="true"	align="left" editor="text"	width="60" >物料类别</th>
                </tr>
            </thead>
        </table>      
        @*AutoID,PNID,SuppAbbr,SupplierCode,SuppPN,CDesc,CSpec,TypeName*@
    </div>
</div>