
@{
    ViewBag.Title = "供应商料号关联清单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
    <script src="~/Areas/Mms/ViewModels/mms.Supplier.js"></script>    
    <script src="~/Scripts/Plugins/AjaxFileUploader/ajaxfileupload.js"></script>
    <script type="text/javascript">
        //using(["numberspinner"], easyuifix.datagrid_editor_extend);
        using(['validatebox','combobox']);

        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));          

        var viewModel = mms.Supplier.relate;
        ko.bindingViewModel(new viewModel(data));

        //--

    </script>
}

<div class="z-toolbar">
    <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-arrow_refresh"   title="刷新" data-bind="click:canShow('icon-arrow_refresh')?null:refreshClick,linkbuttonDisable:canShow('icon-arrow_refresh')">刷新</a>   
    <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-page_excel" data-bind="click:downloadClick">导出</a>
</div>

<div id="condition"  class="container_12"  style="position:relative;">   
    <table style="width:750px;margin-left:5px">
        <tr>
        <td>代理商</td><td><input type="text"  data-bind="datasource:dataSource.SuppCodeList1,comboboxValue:form.SuppCode" data-options="showblank:true" class="z-txt easyui-combobox" style="width:140px" /></td>            
        <td>制造商料号:</td><td><input type="text" data-bind="value:form.SuppPN" class="z-txt easyui-autocomplete" data-options="url:'/api/mms/partno/getSuppPNList'"  style="width:200px" /></td>
        <td>品牌</td><td><input type="text"  data-bind="datasource:dataSource.BrandList ,comboboxValue:form.Brand" data-options="showblank:true" class="z-txt easyui-combobox" style="width:120px" /></td>
        <td><a id="a_search" href="#" class="button button-blue"  data-bind="click:searchClick">查询</a> </td>               
        <td><a id="a_reset" href="#" class="button button-blue" data-bind="click:clearClick">清空</a></td>
        @*SuppPN,CustCode,CustPN,SuppCode*@
     </tr></table>  
</div>

 <table id="gridlist" data-bind="datagrid:grid" style="height:315px">
    <thead>
        <tr> 
            <th field="AutoID"  hidden="true">AutoID</th>                    
            <th field="SuppCode" 	width="80" >供应商代码</th>
            <th field="SuppAbbr" 	width="100" >供应商简称</th>      
            <th field="SuppPN" 	width="200" >供应商料号</th>                        
            <th field="CDesc" sortable="true"	align="left" 	width="100" >品名</th>                   
            <th field="CSpec" sortable="true"	align="left"	width="300" >规格</th>                                       
            <th field="Brand" sortable="true"	align="left"	width="80" >品牌</th>    
            <th field="MOQ"	sortable="true"	align="right" formatter="com.formatMoney2" width="60" >MOQ</th>
            <th field="SPQ"		sortable="true"	align="right" formatter="com.formatMoney2" width="60" >SPQ</th>
            <th field="SPQUnit" sortable="true"	align="center" width="50">SPQ单位</th> 
            <th field="LeadTime" sortable="true"	align="center" editor="text"	width="50" >LT(d)</th>                                             
            <th field="TypeName" sortable="true"	align="left" width="60" >物料类别</th>
            @*AutoID,SupplierCode,SuppAbbr,SuppPN,CDesc,CSpec,Brand,TypeName,MOQ,SPQ,SPQUnit,LeadTime*@
        </tr>
    </thead>
</table>      
