
@{
    ViewBag.Title = "采购订单明細";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
    <script src="~/Areas/Mms/ViewModels/mms.BuyOrder.js"></script>
  @*  <script src="~/Content/js/jquery-extend/jquery.cookie.js"></script>*@

<script type="text/javascript">
    using(["numberspinner"], easyuifix.datagrid_editor_extend); 
    using(['datagrid','messager','validatebox','numberbox','combobox','datebox']);
    var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    
    //var viewModel = function(data){ 
    //    var self = this;
    //    mms.ARInvoice.apply(self,arguments);
    //    //this.grid0.OnAfterCreateEditor = mms.com.bindCalc1From2(self.pageData,self.grid0, "Cost", "PreInvoiceNoTax", "PreInvoiceTax", ['ReceiveCost','PreInvoiceNoTax',"PreInvoiceTax"]);
              

    //} 

    var viewModel=mms.BuyOrder.Edit;
    ko.bindingViewModel(new viewModel(data));
    
</script>
}

<div class="z-toolbar">
    <a id="a_refresh" href="#" plain="true" class="easyui-linkbutton"  icon="icon-arrow_refresh"   title="刷新" data-bind="click:canShow('icon-arrow_refresh')?null:refreshClick,linkbuttonDisable:canShow('icon-arrow_refresh')">刷新</a>
    <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="click:canShow('icon-save')?null:saveClick,linkbuttonDisable:canShow('icon-save')" title="保存">保存</a>
    <a id="a_reload" href="#" plain="true" class="easyui-linkbutton" icon="icon-upload" data-bind="click:canShow('icon-download')?null:reloadClick,linkbuttonDisable:canShow('icon-download')" title="导出采购单">生成采购单</a>
    <a id="a_creat" href="#" plain="true"  class="easyui-linkbutton"  icon="icon-feed_edit" data-bind="click:canShow('icon-feed_edit')?null:BuyOrderFileClick,linkbuttonDisable:canShow('icon-feed_edit')">上传附件</a>
    <div class="datagrid-btn-separator"></div>
    <a id="a_first" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_first" data-bind="click:firstEnable()?firstClick:null,linkbuttonEnable:firstEnable" title="第一条"></a> 
    <a id="a_previous" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_previous" data-bind="click:previousEnable()?previousClick:null,linkbuttonEnable:previousEnable" title="上一条"></a> 
    <a id="a_next" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_next" data-bind="click:nextEnable()?nextClick:null,linkbuttonEnable:nextEnable" title="下一条"></a> 
    <a id="a_last" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_last" data-bind="click:lastEnable()?lastClick:null,linkbuttonEnable:lastEnable" title="最后一条"></a> 

</div>

<div id="master" class="container_12" >
    <div style="display:none;"><label data-bind="text:pageData.form.BuyID" /></div>
    <table style="width:800px;margin-left:10px">
        <tr>
            <td>采购单号</td><td><input type="text" data-bind="value:pageData.form.BuyNo,readOnly:true" title="系统自动生成" class="z-txt " /></td>
            <td>下单日期</td><td><input type="text" data-bind="dateboxValue:pageData.form.BuyDate ,readOnly:true" class="z-txt easyui-datebox" /></td>      
            <td>供应商代码</td><td><input type="text" data-bind="value:pageData.form.SuppCode ,readOnly:true" class="z-txt" style="width:60px" />
                <a id="a_find" href="#" plain="true" class="easyui-linkbutton" icon="icon-zoom" data-bind="click:searchSupplierClick" title="查询供应商"></a> 
                          </td>
            <td>供应商简称</td><td><input type="text" data-bind="value:pageData.form.SuppAbbr ,readOnly:true" class="z-txt " /></td>      
        </tr>
        <tr>
            <td>联系人</td><td><input type="text" id="txtContact" data-bind="value:pageData.form.Contact ,readOnly:true" class="z-txt " /></td>            
            <td>Tel</td><td colspan="3"><input type="text"  id="txtTel" data-bind="value:pageData.form.Tel ,readOnly:true" class="z-txt"  style="width:310px" /></td>
            
            <td>總金額</td><td><input type="text"  data-bind="numberboxValue:pageData.form.Amount,readOnly:true"   class="z-txt easyui-numberbox" data-options="precision:2"  style="width:60px" />
                    <input type="text" data-bind="datasource:dataSource.CNCYList,comboboxValue:pageData.form.Currency" class="z-txt easyui-combobox "  data-options="showblank:true" style="width:58px"/>
                        </td>

        </tr>

        <tr>
            <td>是否含税</td><td><input type="text" data-bind="datasource:dataSource.PriceTypeList,comboboxValue:pageData.form.PriceType" class="z-txt easyui-combobox "  /></td>
            <td>订单状态</td><td><input type="text" data-bind="datasource:dataSource.BuyOrderStatusList,comboboxValue:pageData.form.BuyStatus,readOnly:true" class="z-txt easyui-combobox "  style="width:75px" /></td>            
            <td>录入人</td><td ><input type="text" data-bind="value:pageData.form.InputBy,readOnly:true" class="z-txt" style="width:50px;"/>
                <input type="text" data-bind="value:pageData.form.InputDT,readOnly:true" class="z-txt" style="width:60px;color:blue;"/></td>
            <td>Remarks</td><td><input type="text" data-bind="value:pageData.form.Remarks" class="z-txt"  style="width:122px;" /></td>
            @*BuyID,BuyNo,BuyDate,SuppCode,SuppAbbr,Contact,Tel,Amount,Currency,PriceType,CFMFlag,BuyStatus,InputBy,InputDT*@
        </tr>      
    </table>    
</div>

    <div title="tab1" style="height:650px;width:auto;overflow:hidden;">
        <div id="gridtb">
            <a href="#" class="easyui-linkbutton" plain="true" icon="icon-add" data-bind="click:canShow('icon-add')?null:addRowClick,linkbuttonDisable:canShow('icon-add')">新增</a>
            @*<a href="#" class="easyui-linkbutton" plain="true" icon="icon-edit" data-bind="click:canShow('icon-edit')?null:grid0.onClickRow,linkbuttonDisable:canShow('icon-edit')">编辑</a>*@
            <a href="#" class="easyui-linkbutton" plain="true" icon="icon-cross" data-bind="click:canShow('icon-cross')?null:removeRowClick,linkbuttonDisable:canShow('icon-cross')">删除</a>
        </div>  

       <table id="gridlist" data-bind="datagrid:grid" style="height:620px;width:auto">
            <thead>
                <tr> 
                    <th field="SNO" hidden="true" ></th>
                    <th field="BuyID" hidden="true" editor="text" ></th>
                    <th field="PO"	 hidden="true"	sortable="true"	align="left"	width="100" editor="text" >PO</th>
                    <th field="SuppPN"		sortable="true"	align="left" width="150" editor="{type:'validatebox',options:{required:true}}" >制造商料号</th>
                    <th field="CDesc"		sortable="true"	align="left" width="100" editor="{type:'validatebox',options:{required:true}}" >品名</th>
                    <th field="CSpec"		sortable="true"	align="left" width="200" editor="text" >规格</th>   
                    <th field="Brand"		sortable="true"	align="left" width="80" editor="text" >品牌</th>                   
                    <th field="Qty"		sortable="true"	align="right" formatter="com.formatMoney2" width="100"  editor="{type:'numberbox',options:{precision:2,required:true}}" >Qty</th>
                    <th field="BuyPrice"		sortable="true"	align="right" formatter="com.formatMoney" editor="{type:'numberbox',options:{precision:4,required:true}}"	width="60" >单价</th> 
                    <th field="Unit"		sortable="true"	align="left" width="60"  editor="text">Unit</th>
                    <th field="Amount"		sortable="true"	align="right"	width="120" formatter="com.formatMoney2" >金額</th>
                    <th field="ReqDate"		sortable="true"	align="left" width="100" editor="{type:'datebox'}" formatter="com.formatDate" >需求日期</th>     
                  
                </tr>
               @*SNO,BuyID,PO,SuppPN,CDesc,CSpec,BuyPrice,Qty,Unit,Amount  *@
            </thead>
        </table>      

    </div>

<script type="text/html" id="Supplier-template">
    <style type="text/css">
        .datagrid-wrap{border-width:0 0 1px 0;}
        .datagrid-toolbar{background-color:#E0ECFF !important}
    </style>
    
    <div class="container_12" style="width:600px;background-color:#E0ECFF !important">     
         <table style="margin-left:30px;">
                <tr>
                <td >编码:</td><td><input type="text" data-bind="value:form.value,event:{keypress:keyDown}"  class="z-txt" data-cp="like" style="width:60px;" /> </td>
                <td style="margin-left:10px;">简称:</td><td><input type="text" id="textField" name="textField" data-bind="value:form.text,event:{keypress:keyDown}" class="z-txt" data-cp="like" style="width:100px"/></td>
                <td >
                     <a id="btnSearch" href="#" plain="true" class="easyui-linkbutton" icon="icon-search" title="查询" data-bind="click:searchClick">查询</a>
                </td>  
                    <td>
                    <a id="btnClear" href="#" plain="true" class="easyui-linkbutton" icon="icon-clear" title="清空" data-bind="click:clearClick">清空</a></td>              
                </tr>
    
             </table> 
    </div>

    <table data-bind="datagrid:grid" style="width:500px" >
        <thead>
            <th field="SuppID"   hidden="true">SuppID</th>
            <th field="value"    sortable="true" align="center"  width="50" >代码</th>            
            <th field="text"    sortable="true" align="left" width="150">代理商简称</th>  
            <th field="Contact"		sortable="true"	align="left"	width="170"  >联系人</th>        
            <th field="Tel"		sortable="true"	align="left"	width="200" >电话</th>             
           
           @*select SuppID,SuppAbbr,SuppCode,Contact,Tel from DG_Supplier*@
        </thead>
    </table>
    
    <div style="text-align:center;margin:5px;">
        <a class="easyui-linkbutton" icon="icon-ok" data-bind="click:confirmClick" href="javascript:void(0)" >确定</a>  
        <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" data-bind="click:cancelClick" href="javascript:void(0)">取消</a> 
    </div>
</script> 
