
@{
    ViewBag.Title = "销售报价单明細";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
    <script src="~/Areas/Mms/ViewModels/mms.SaleOrder.js"></script>
  @*  <script src="~/Content/js/jquery-extend/jquery.cookie.js"></script>*@

<script type="text/javascript">
    using(["numberspinner"], easyuifix.datagrid_editor_extend); 
    using(['datagrid','messager','validatebox','numberbox','combobox']);
    var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    
    var formatterPrice = function (value,row) {
        if(row.POID==-1)
        {return '';}
        else{   
            return com.formatMoney(value);
        }
    }

    var viewModel=mms.SaleOrder.Edit;
    ko.bindingViewModel(new viewModel(data));
    
</script>
}

<div class="z-toolbar">
    <a id="a_refresh" href="#" plain="true" class="easyui-linkbutton"  icon="icon-arrow_refresh"   title="刷新" data-bind="click:canShow('icon-arrow_refresh')?null:refreshClick,linkbuttonDisable:canShow('icon-arrow_refresh')">刷新</a>
    <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="click:canShow('icon-save')?null:saveClick,linkbuttonDisable:canShow('icon-save')" title="保存">保存</a>
    <a id="a_creat" href="#" plain="true"  class="easyui-linkbutton"  icon="icon-feed_edit" data-bind="click:canShow('icon-feed_edit')?null:CreatSaleOrderClick,linkbuttonDisable:canShow('icon-feed_edit')">导出订单</a>
    <a id="a_creat0" href="#" plain="true"  class="easyui-linkbutton"  icon="icon-feed_edit" data-bind="click:canShow('icon-feed_edit')?null:CreatHubOutClick,linkbuttonDisable:canShow('icon-feed_edit')">转出库单</a>
    <a id="a_creat1" href="#" plain="true"  class="easyui-linkbutton"  icon="icon-upload" data-bind="click:canShow('icon-upload')?null:SaleOrderFileClick,linkbuttonDisable:canShow('icon-upload')">上传附件</a>
    <div class="datagrid-btn-separator"></div>
    <a id="a_first" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_first" data-bind="click:firstEnable()?firstClick:null,linkbuttonEnable:firstEnable" title="第一条"></a> 
    <a id="a_previous" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_previous" data-bind="click:previousEnable()?previousClick:null,linkbuttonEnable:previousEnable" title="上一条"></a> 
    <a id="a_next" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_next" data-bind="click:nextEnable()?nextClick:null,linkbuttonEnable:nextEnable" title="下一条"></a> 
    <a id="a_last" href="#" plain="true" class="easyui-linkbutton" icon="icon-resultset_last" data-bind="click:lastEnable()?lastClick:null,linkbuttonEnable:lastEnable" title="最后一条"></a> 

</div>

<div id="master" class="container_12" >
    <div style="display:none;"><label data-bind="text:pageData.form.POID" /></div>
    <table style="width:750px;margin-left:5px">
        <tr>
            <td>客戶订单号</td><td><input type="text" data-bind="value:pageData.form.PO,readOnly:readonly" class="z-txt "  style="width:90px" /></td>
            <td>订单日期</td><td><input type="text" data-bind="dateboxValue:pageData.form.PODate ,readOnly:true" class="z-txt easyui-datebox" /></td>      
            <td style="width:58px">客户代码</td><td style="width:130px"><input type="text" data-bind="value:pageData.form.CustCode ,readOnly:true" class="z-txt" style="width:60px" />
                <a id="a_find" href="#" plain="true" class="easyui-linkbutton" icon="icon-zoom" data-bind="click:searchCustomerClick" title="查询客户"></a> 
                          </td>
            <td>客户简称</td><td><input type="text" data-bind="value:pageData.form.Customer ,readOnly:true" class="z-txt " /></td>      
        </tr>
        <tr>
            <td>送货目的地</td><td><input type="text" id="txtContact" data-bind="value:pageData.form.Destination ,readOnly:readonly" class="z-txt "  style="width:90px" /></td>            
            <td>联系人</td><td colspan="3" style="width:190px"><input type="text"  id="txtTel" data-bind="value:pageData.form.Contact ,readOnly:readonly" class="z-txt"  style="width:300px" /></td>
            
            <td>總金額</td><td><input type="text"  data-bind="numberboxValue:pageData.form.Amount,readOnly:true"   class="z-txt easyui-numberbox" data-options="precision:2"  style="width:60px" />
                    <input type="text" data-bind="datasource:dataSource.CNCYList,comboboxValue:pageData.form.Currency" class="z-txt easyui-combobox "  data-options="showblank:true" style="width:58px"/>
                        </td>
            
        </tr>

        <tr>
            <td>付款条件</td><td><input type="text" data-bind="datasource:dataSource.IncotermList,comboboxValue:pageData.form.Incoterms,readOnly:readonly" class="z-txt easyui-combobox"  data-options="showblank:true" style="width:97px" /></td>
            <td>是否确认</td><td><input type="text" data-bind="datasource:dataSource.CFMFlagList,comboboxValue:pageData.form.CFMFlag" class="z-txt easyui-combobox "  data-options="showblank:true" style="width:50px"/>
                    <input type="text" data-bind="datasource:dataSource.SaleOrderStatusList,comboboxValue:pageData.form.POStatus,readOnly:true" class="z-txt easyui-combobox "  style="width:75px" />
                         </td>            
            <td style="width:58px">录入人</td><td ><input type="text" data-bind="value:pageData.form.InputBy,readOnly:true" class="z-txt" style="width:50px;"/>
                <input type="text" data-bind="value:pageData.form.InputDT,readOnly:true" class="z-txt" style="width:60px;color:blue;"/></td>
            <td>Remark</td><td><input type="text" data-bind="value:pageData.form.Remark" class="z-txt"  style="width:122px;" /></td>
            @*QuoteID,QuoteNo,QuoteDate,IncoTerms,CustCode,Contact,Tel,Currency,Remarks,QuoteStatus,PriceType,InputBy,InputDT,CFMFlag*@
        </tr>      
    </table>    
</div>

    <div title="tab1" style="height:650px;width:auto;overflow:hidden;">
        <div id="gridtb">
            <a href="#" class="easyui-linkbutton" plain="true" icon="icon-add" data-bind="click:canShow('icon-add')?null:addRowClick,linkbuttonDisable:canShow('icon-add')">新增</a>
            @*<a href="#" class="easyui-linkbutton" plain="true" icon="icon-edit" data-bind="click:canShow('icon-edit')?null:grid0.onClickRow,linkbuttonDisable:canShow('icon-edit')">编辑</a>*@
            <a href="#" class="easyui-linkbutton" plain="true" icon="icon-cross" data-bind="click:canShow('icon-cross')?null:removeRowClick,linkbuttonDisable:canShow('icon-cross')">删除</a>
        </div>  

       <table id="gridlist" data-bind="datagrid:grid" style="height:620px;width:auto">
            <thead>
                <tr> 
                    <th field="POID"  hidden="true" editor="text"  ></th>
                    <th field="POLineNo" hidden="true" editor="text" ></th>
                    <th field="CustPN"		sortable="true"	align="left" width="150" editor="{type:'validatebox',options:{required:true}}" >客户料号</th>
                    <th field="SuppPN"		sortable="true"	align="left" width="150" editor="{type:'validatebox',options:{required:true}}" >制造商料号</th>
                    <th field="CDesc"		sortable="true"	align="left" width="100" editor="{type:'validatebox',options:{required:true}}" >品名</th>
                    <th field="CSpec"		sortable="true"	align="left" width="200" editor="text" >规格</th> 
                    <th field="Qty"		sortable="true"	align="right" formatter="com.formatMoney2" width="70"  editor="{type:'numberbox',options:{precision:2,required:true}}" >Qty</th>
                   <th field="UnitPrice"		sortable="true"	align="right" formatter="formatterPrice" editor="{type:'numberbox',options:{precision:4,required:true}}"	width="60" >单价</th> 
                   <th field="UnitPriceT"		sortable="true"	align="right" formatter="formatterPrice" editor="{type:'numberbox',options:{precision:4,required:true}}"	width="60" >含税价</th> 
                     <th field="Unit"		sortable="true"	align="left" width="50"  editor="text"	editor="{type:'validatebox',options:{required:true}}" >Unit</th>
                      <th field="Amount"		sortable="true"	align="right"	width="70" formatter="com.formatMoney2" >金額</th>
                    <th field="ReqDate"		sortable="true"	align="left" width="85" editor="{type:'datebox'}" formatter="com.formatDate">需求日期</th>    
                </tr>
               @*POID, POLineNo, CustPN, SuppPN, CDesc, CSpec, ReqDate, Qty, Unit, UnitPrice, UnitPriceT, Currency, Amount  *@
            </thead>
        </table>      

    </div>