@{
    ViewBag.Title = "出库查詢";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}



@section scripts{
        <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
        <script src="~/Areas/Mms/ViewModels/mms.Shiping.js"></script>   
   
        <script type="text/javascript">
            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

            var formatterURL = function (value,row) {
                
                var KK='<a href="#" plain="true" style="color:blue" onclick="openURL(\''+row.ShipID+'\',\''+value+'\')">'+value+'</a>';                
                return KK;
            }

            var formatTaxRate = function (value,row) {             
                return value>0?value:'不含税';
            };

            var formatterUpload=function (value,row) {    
                var linkA='',title='';
                title=row.FilesName?'Open':'Upload';            
                linkA='<a href="#" style="color:blue" onclick="exportEInvoice(\''+row.ReceiveInvoiceNo + '\',\'upload\')" >'+title+'</a>';           

                return linkA;
            }

            var formatterEInv=function (value,row) {    
                var linkA='<a href="/FJLBS/ARInvoice/'+value+'\" target="_blank" style="color:blue">'+value+'</a>';          
                return linkA;
            } 
            var viewModel = mms.Shiping.Search;
            ko.bindingViewModel(new viewModel(data));
        </script>
}
       <div class="z-toolbar">
            <a id="a_refresh" href="#" plain="true" class="easyui-linkbutton" icon="icon-arrow_refresh" title="刷新" data-bind="click:canShow('icon-arrow_refresh')?null:refreshClick,linkbuttonDisable:canShow('icon-arrow_refresh')">刷新</a>  
            <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-add"  title="新增" data-bind="click:canShow('icon-add')?null:addClick,linkbuttonDisable:canShow('icon-add')">新增</a>

           <a id="a_delete"   href="#" plain="true" class="easyui-linkbutton" icon="icon-cross" data-bind="click:canShow('icon-cross')?null:deleteClick,linkbuttonDisable:canShow('icon-cross')" title="刪除">刪除</a>
           <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-page_excel" data-bind="click:downloadClick">导出</a>
        </div>
 
        <div id="condition" class="container_12" style="position:relative;">           
             <table style="width:950px;margin-left:10px">
                <tr>
                <td>出库單號:</td><td><input type="text" data-bind="value:form.ShipNo" class="z-txt" style="width:90px" /></td>
                <td  style="margin-left:5px">客户:</td><td><input type="text" style="width:91px" data-bind="value:form.Customer" class="z-txt easyui-autocomplete" data-options="url:'/api/mms/customer/getCustomerAbbr'"  style="width:90px" /></td>
                <td >客户料號:</td><td><input type="text" data-bind="value:form.CustPN" class="z-txt" style="width:90px"  /></td>
                    <td >出库单状态:</td><td><input type="text" class="z-txt easyui-combobox" style="width:90px" data-bind="datasource:dataSource.ShipingStatusList ,comboboxValue:form.ShipStatus" data-options="showblank:true" class="z-txt easyui-combobox"  style="margin-left:1px" /></td>

                    <td >出库日期:</td><td><input type="text" data-bind="value:form.BeginDate" class="z-txt easyui-daterange" style="width:150px" /></td>  

                <td>
                    <a id="a_search" href="#" class="button button-blue" data-bind="click:searchClick">查询</a>
                    <a id="a_reset" href="#" class="button button-blue" data-bind="click:clearClick">清空</a>
                </td>                
                </tr>

    
             </table> 
        </div>

       <table  id="gridlist"  data-bind="datagrid:grid" style="height:337px;overflow-x:scroll;">
            <thead>  
                <tr>  
                    <th field="ck" checkbox="true"  editor="{type: 'checkbox',options: {on: true,off: false}}"></th> 
                    <th field="ShipID"   hidden="true"   >ShipID</th>  
                    <th field="ShipNo"  sortable="true" align="left"    width="90"  formatter="formatterURL" >出库單號</th>  
                    <th field="ShipDate"            sortable="true" align="center"   formatter="com.formatDate"  width="80" >出库日期</th>
                    <th field="Customer"            sortable="true" align="left"    width="70"   >客户 </th>                     
                    <th field="CustPN"		sortable="true"	align="left" width="120" >客户料号</th>
                    <th field="SuppPN"		sortable="true"	align="left" width="120" >制造商料号</th>
                    <th field="CDesc"		sortable="true"	align="left" width="90" >品名</th>
                    <th field="CSpec"		sortable="true"	align="left" width="200" >规格</th> 
                     <th field="Qty" sortable="true" align="right"   formatter="com.formatMoney2"   width="70" >数量</th>   
                    <th field="Unit"            sortable="true" align="left"    width="40"   >单位 </th>     
                    <th field="UnitPrice"            sortable="true" align="right"   formatter="com.formatMoney2"   width="70" >单价</th>                       
                    <th field="Currency"            sortable="true" align="center"  width="50" >幣別</th>    
                    <th field="Amount"            sortable="true" align="right"   formatter="com.formatMoney2"   width="70" >總金額</th>   
                    <th field="TaxRate"		sortable="true"	align="left" width="60"  formatter="formatTaxRate">税率</th>
                    <th field="Incoterms"            sortable="true" align="center"    width="60" >付款條件</th>   
                    <th field="ShipStatus"  sortable="true" align="left"    width="60" >出库狀態</th>  
                    <th field="BLNo"            sortable="true" align="left"    width="80"   >运单号码 </th>  

                    
                    @*ShipID,ShipNo, ShipDate,Customer,CustPN,SuppPN,CDesc,CSpec,Qty,Unit,Currency,Amount,Incoterms,ShipStatus,BLNo
                    出库單號,出库日期,客户,客户料号,制造商料号,品名,规格,数量,单位,幣別,總金額,付款條件,出库狀態,运单号码
                    *@              
                </tr>                            
            </thead>      
        </table> 
 
